@use "flex";
@use "config";
@use "utility";

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.hidden,
.hide {
  display: none;
}

// ─── Container ────────────────────────────────────────────────────────────────

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @each $name, $breakpoint in config.$breakpoints {
    @media (min-width: #{$breakpoint}) {
      max-width: $breakpoint;
    }
  }
}
