@use "flex";
@use "config";
@use "utility";

@layer utilities {
  .block { display: block; }
  .inline { display: inline; }
  .inline-block { display: inline-block; }
  .hidden,
  .hide {
    display: none;
  }

  // ─── Container ────────────────────────────────────────────────────────────────

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @each $name, $breakpoint in config.$breakpoints {
      @media (min-width: #{$breakpoint}) {
        max-width: $breakpoint;
      }
    }
  }
}

// ─── Mixins ──────────────────────────────────────────────────────────────────

/// Display an element as a block.
/// @group display
@mixin block { display: block; }

/// Display an element inline.
/// @group display
@mixin inline { display: inline; }

/// Display an element as an inline block.
/// @group display
@mixin inline-block { display: inline-block; }

/// Hide an element.
/// @group display
@mixin hidden { display: none; }
